<section>
<h2>Workload Hardening Checks</h2>
{{ range .Checks }}
  {{ $whc := . }}
  <details name="whc">
    <summary role="button" class="outline">
      {{ if .Successful }}
        <span style="color: green;">&#10004;</span>
      {{ else if .Running  }}
        <span style="color: orange;">&#9888;</span>
      {{ else }}
        <span style="color: red;">&#10008;</span>
      {{ end }}
      {{ .ObjectMeta.Namespace}}/{{ .ObjectMeta.Name }}
    </summary>
    <div class="grid" style="padding-bottom: 20px;">
      <div>
        <strong>Status: </strong>
        {{ if .Successful }}
          <span style="color: green;">&#10004;</span>
        {{ else if .Running  }}
          <span style="color: orange;">&#9888;</span>
        {{ else }}
          <span style="color: red;">&#10008;</span>
        {{ end }}
      </div>
      <div>
        <strong>Target Reference:</strong> {{ .Spec.TargetRef.Kind }}/{{ .Spec.TargetRef.Name }}
      </div>
      <div>
        <strong>Duration:</strong> {{ .Spec.RecordingDuration }}
      </div>
    </div>

    {{ if .Status.Recommendation }}
    <section>
      <h4>Recommendations</h4>
      <div class="grid">
        <div>
          <strong>ContainerSecurityContext</strong><br />
          {{ if .Status.Recommendation.ContainerSecurityContexts}}
          <pre>
{{ toPrettyJson .Status.Recommendation.ContainerSecurityContexts }}
          </pre>
          {{ else }}
          No recommendation yet
          {{ end }}
        </div>
        <div>
          <strong>PodSecurityContext</strong><br />
          {{ if .Status.Recommendation.PodSecurityContext }}
          <pre>
{{ toPrettyJson .Status.Recommendation.PodSecurityContext }}
          </pre>
          {{ else }}
          No recommendation yet
          {{ end }}
        </div>
      </div>
    </section>
    {{ end }}

    <section style="width: 80%; margin-left: auto; margin-right: auto;">
      <h4>Check Runs</h4>
      {{ if eq (len $whc.Recordings) 0 }}
        <p>No recordings available.</p>
      {{ else }}
        {{ range $key, $checkRecording := $whc.Recordings }}
        {{ $checkRun := index $whc.Status.CheckRuns $key }}
          <details name="{{ $whc.ObjectMeta.Namespace}}-{{ $whc.ObjectMeta.Name }}-checkruns">
            <summary role="button" class="outline secondary">
              {{ if (boolPtr $checkRun.CheckSuccessfull) }}
                <span style="color: green;">&#10004;</span>
              {{ else }}
                <span style="color: red;">&#10008;</span>
              {{ end }}
              {{ $checkRecording.Type }}
            </summary>
            <div class="grid">
              <div>
                <strong>Check: </strong>
                {{ if (boolPtr $checkRun.CheckSuccessfull) }}
                  <span style="color: green;">&#10004;</span>
                {{ else }}
                  <span style="color: red;">&#10008;</span>
                {{ end }}
              </div>
              <div>
                <strong>Recording: </strong>
                {{ if (boolPtr $checkRun.RecordingSuccessfull) }}
                  <span style="color: green;">&#10004;</span>
                {{ else }}
                  <span style="color: red;">&#10008;</span>
                {{ end }}
              </div>
              <div>
                <strong>CPU: </strong>
                {{ if (boolPtr $checkRun.CpuDeviation) }}
                  <span style="color: green;">&#10004;</span>
                {{ else }}
                  <span style="color: red;">&#10008;</span>
                {{ end }}
              </div>
              <div>
                <strong>Memory: </strong>
                {{ if (boolPtr $checkRun.MemoryDeviation) }}
                  <span style="color: green;">&#10004;</span>
                {{ else }}
                  <span style="color: red;">&#10008;</span>
                {{ end }}
              </div>
            </div>
            {{ if $checkRun.FailureReason }}
              <div class="container" style="margin-top: 10px; margin-bottom: 10px; padding: 10px; border: 1px solid red;">
                <strong>Failure Reason:</strong> {{ $checkRun.FailureReason }}
              </div>
            {{ end }}
            {{ if not (boolPtr $checkRun.CheckSuccessfull) }}
              <h5>Log anomalies</h5>
              {{ range $container, $logs := $checkRun.LogAnomalies }}
                <h6>Container: {{ $container }}</h6>
                <pre>{{ $logs | join "\n"}}</pre>
              {{ end }}
            {{ end }}
            <h5>Full logs</h5>
            {{ if not $checkRecording.Logs }}
              <p>No logs available.</p>
            {{ else }}
              {{ range $container, $logs := $checkRecording.Logs }}
                <h6>Container: {{ $container }}</h6>
                <pre>{{ $logs | join "\n"}}</pre>
              {{ end }}
            {{ end }}
          </details>
        {{ end }}
      {{ end }}
    </section>
  </details>
{{ end }}
</section>
